<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

re2rji23j3rp23
{{facility_A}}
<br>
{{facility_B}}
    	<form name='inputform' action='' method="get">
            <br>facility_A <input type='radio' name='facility_A' value="facility_A"  ><br>
            facility_B <input type='radio' name='facility_B' value="facility_B"  ><br>
    		<input type='submit' value="submit">
    		<input type="reset" name="reset">
        </form>
<!--
       {{popo}}
   time_date {{time_date}}
{{detaildate}}
{% for post in objecttttt %}
       {{ post.id | truncatechars:40 }}
    {% endfor %}
count:{{long}}
vavg:{{vavg}}
timeee:{{timeee}}

{{response}}
-->
</body>
</html>